@media (max-width: $screen-mmd) {
    .text-h1 {
        font-size: 50px;
    }
    .text-h2 {
        font-size: 45px;
    }
    .text-h3 {
        font-size: 32px;
    }
    .text-h4 {
        font-size: 24px;
    }
}

@media (max-width: $screen-md) {
    .header {
        .menu {
            &-link {
                margin-left: 12px;
            }

            &-btn {
                margin-left: 12px;

                .MuiButtonBase-root {
                    &.MuiButton-sizeLarge {
                        min-width: 115px;
                    }
                }
            }

            &-notif {
                margin-left: 12px;
            }
        }

        .MuiButton-outlinedSizeLarge {
            padding: 13px;
        }

        .MuiButton-containedSizeLarge {
            padding: 13px;
        }
    }

    .tabs-header {
        .MuiTab-root {
            min-width: 125px;
        }
    }

    .text-h1 {
        font-size: 40px;
    }
    .text-h2 {
        font-size: 32px;
    }
    .text-h3 {
        font-size: 26px;
    }
    .text-h4 {
        font-size: 20px;
    }
}

@media (max-width: $screen-sm) {
    .header {
        .menu {
            &-link-about {
                display: none;
            }

            &-btn-marketplace {
                margin-left: 0;
            }

            &-btn {
                a,
                button {
                    font-size: 0.85rem !important;
                }
            }
        }
    }

    .tab-search {
        &-btns {
            button {
                width: 100px;
            }
        }
    }

    .footer {
        background-size: 285px 215px;
    }
}

@media (max-width: $screen-ssm) {
    .sort-dropdown {
        .filter-checkboxes {
            display: block;
            min-width: 220px;

            &-column {
                &:not(:last-of-type) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }

            .checklist-title {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .breadcrumbs {
        a,
        p {
            font-size: 12px;
        }
    }

    .header {
        .menu-btn {
            &-marketplace,
            &-algo,
            &-wallet {
                display: none;
            }
        }
    }

    .mobile-menu-content {
        .mobile-menu {
            .menu-btn {
                width: 100%;

                button {
                    width: 100%;
                }

                img {
                    margin: 0 auto;
                }
            }
        }
    }

    .dropdown-prices {
        img {
            width: 10px;
        }
    }

    .MuiButtonBase-root.MuiButton-sizeLarge {
        min-width: 120px;
    }

    .footer {
        position: relative;
        background-size: 180px 135px;

        .footer-nav-item {
            width: 50%;
            margin-bottom: 20px !important;
            padding: 0 24px;
        }

        .footer-main {
            .social-menu-item {
                margin: 0 8px;
                font-size: 40px;
            }
        }

        .footer-bottom-content {
            display: block;

            & > div {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .menu-container {
        z-index: 99;
        .menu-icon {
            fill: $brand-green;
        }
    }
    .dark-mode {
        .menu-container {
            .menu-icon {
                fill: #fff;
            }
        }
    }

    .dark-modal {
        .MuiTypography-body1,
        .MuiTypography-body2,
        .MuiTypography-caption,
        .MuiTypography-h1,
        .MuiTypography-h2,
        .MuiTypography-h3,
        .MuiTypography-h4,
        .MuiTypography-h5,
        .MuiTypography-h6,
        .MuiTypography-subtitle1,
        .MuiTypography-subtitle2,
        .MuiCheckbox-root,
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: #fff;
        }

        button {
            border-color: #fff;
        }

        .MuiBackdrop-root {
            background-color: rgba($color: #fff, $alpha: 0.5) !important;
        }

        .MuiDialog-container {
            .MuiDialog-paper {
                background-color: #1d1f3b;
            }
        }
    }

    .tab-search {
        .tab-search-input {
            .MuiInputBase-root {
                background-color: #000;
            }
        }
    }
}

@media (max-width: $screen-xxs) {
    .tab-search {
        display: block;

        .MuiFormControl-root {
            .MuiOutlinedInput-root {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        &-btns {
            margin-top: 10px !important;

            button {
                width: 50%;
                height: 40px;

                &:first-child {
                    border-left: 1px solid rgba($secondary, 0.23);
                    border-radius: $br 0 0 $br;
                }
            }
        }
    }

    .dropdown-btn-people {
        margin-right: 10px;

        svg {
            margin-left: 5px;
        }
    }

    .tabs-header {
        .MuiTab-root {
            min-width: 100px;
        }
    }
}
