@media (max-width: 1639px) {
    .list-with-link {
        .list-link {
            right: -5px;
        }
    }
}

@media (max-width: $screen-xs) {
    .list-with-link {
        .list-link {
            width: 40px;
            height: 40px;

            svg {
                font-size: 35px;
            }
        }
    }
}
